body {
	background: #1d1f21;
	color: #c5c8c6;
}

* {
	outline: none;
}

a, a:visited {
	color: #c5c8c6;
}

a:hover {
	color: #81a2be;
}

.navbar {
	position: fixed;
	height: 40px;
	background: #282a2e;
	width: 100%;
	z-index: 1;
	top: 0px;
}

.navbar a {
	text-decoration: none;
	line-height: 40px;
	height: 40px;
	padding: 10px;
}

.navbar, .tile {
	box-shadow: 0 0 10px #ffffff10;
}

h1 {
	text-align: center;
}

.container {
	padding: 0 10px;
	margin-top: 50px;
	vw: 100;
}

.catalog {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-flow: row wrap;
}

.tile {
	width: 50%;
	margin: 0px 0px 10px;
	background: #282a2e;
	padding: 10px;
	margin: 5px;
	text-align: center;
	width: 250px;
	overflow: hidden;
	box-sizing: border-box;
	flex-grow: 1;
	max-width: 300px;
}

.tile:nth-child(2n+1) {
    margin-right: 10px;
    width: calc(50% - 10px);
}

.tile img {
	height: 128px;
	width: 128px;
}

.tile:hover {
	transform: scale(1.02);
	transition: transform 0.2s ease;
}
